@import "tailwindcss";

body {
    font-family: "VT323", monospace;
    font-size: larger;
}

@theme {
    --color-primary-red: #DA5754;
    --color-secondary-red: #A82522;
    --color-primary-yellow: #F4C722;
    --color-secondary-yellow: #BB8E00       ;
}
