@import "tailwindcss";

body {
    font-family: "VT323", monospace;
    font-size: larger;
}

@theme {
    --color-primary-red: #DA5754;
    --color-secondary-red: #A82522;
    --color-primary-yellow: #F4C722;
    --color-secondary-yellow: #BB8E00; 
    --color-primary-dark: #2B2B2B;
}

.hover-image {
  display: block;
  animation: hoverSideToSide 2s ease-in-out infinite;
}

@keyframes hoverSideToSide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  60% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}
.shake {
  animation: shake 0.4s;
}

@keyframes deathFade {
  0% { opacity: 1; transform: scale(1);}
  100% { opacity: 0; transform: scale(0.7);}
}
.death {
  animation: deathFade 1s forwards;
}

.green-lifebar-animation {
  transition: width 0.5s ease-in-out;
}
.red-lifebar-animation {
  transition: width 0.5s ease-in-out;
  transition-delay: 0.2s;
}
